<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Images</title>
    <link rel="stylesheet" type="text/css" href="resources/css/app.css">

</head>

<body>
<div class="nav navbar">
    <h1 class="title">API Images</h1>
    <div class="nav-right">
        <a href="/auth/google" id="connect" class=" btn-cool">Login</a>

    </div>
</div>

</body>
<script src="/resources/js/jquery.min.js"></script>

<script src="resources/js/data-json.js"></script>

</html>