<div class="nav navbar">
    <img src="/resources/img/Logo_black.jpg" class="logo" alt="Logo Ichoui">
    <h1 class="title">API Images</h1>
    <div class="nav-right">
        <% if (user) { %>
        <img src="<%= user.photo %>" class="google-img">
        <a href="/logout" id="connect" class=" btn-cool">Logout</a>
        <% } else { %>
        <a href="/auth/google" id="connect" class=" btn-cool">Login</a>
        <% } %>
    </div>
</div>