<div class="overlay-del">
    <div class="popin">
        <p>Est-ce vous voulez vraiment supprimer la totalité de vos images en base ?</p>
        <div class="action-man">
            <a href="#" class="yes btn-cool del-all">OUI</a>
            <a href="#" class="no btn-cool">NON</a>
        </div>
    </div>
</div>