<div class='overlay-img '>
    <div class='popin'>
        <div class="scrollable-part">
            <div class="images"></div>
        </div>
        <div class="action-man">
            <a href='#' class='no btn-cool'>Fermer</a>
        </div>
    </div>
</div>

<div class='overlay-del-one-img'>
    <div class="popin">
        <p>Est-ce vous voulez vraiment supprimer cette image ?</p>
        <div class="action-man">
            <a href="#" class="yes-one btn-cool">OUI</a>
            <a href="#" class="no-one btn-cool">NON</a>
        </div>
    </div>
</div>