<!-- A IMPORTER DANS PROFILE VIEW SI REUTILISE UN JOUR-->
<div class="overlay-update">
    <div class="popin">
        <form>
            <input type="text" id="description-input" placeholder="description">
            <div class="action-man">
                <a href="#" class="valid-form-update update btn-cool">Valider</a>
                <a href="#" class="refuse-form-update update btn-cool" >Retour</a>
            </div>
        </form>
    </div>
</div>