<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Images</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/app.css">

</head>

<body>
<div class="nav navbar">
    <h1 class="title">API Images</h1>
    <div class="nav-right">
        <img src="<%= user.photo %>" class="google-img">
        <a href="/logout" id="connect" class=" btn-cool">Logout</a>

    </div>
</div>

<% if (user.googleId === admin) { %>



<div class="text-center">Welcome home, <%= user.firstname %></div>
<h2>Banff Images</h2>
<form id="post" enctype="multipart/form-data" action="/banff" method="post">
    <input type="file" name="path" multiple/><br>
    <button type="submit" name="submit" class="btn btn-primary mt-3 mb-3">POST Images</button>
</form>

<a id="get" href="#" class="btn btn-primary mt-3 mb-3">GET</a>
<a id="del" href="#" class="btn btn-primary mt-3 mb-3">DELETE</a>
<hr>
<div class="mt-3 mb-3 text-center"><b>Status requête</b><br> <span id="status"></span></div>
<% } else { %>
<div class="text-center">Welcome, <%= user.firstname %></div>
<div>You are not logged as Admin</div>
<% } %>

</body>

<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.form.min.js"></script>
<script src="/resources/js/core.js"></script>
<script src="/resources/js/data-json.js"></script>

</html>