<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Images</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/app.css">

</head>

<body>

<div class="nav navbar">
    <img src="/resources/img/Logo_black.jpg" class="logo" alt="Logo Ichoui">
    <h1 class="title">API Images</h1>
    <div class="nav-right">
        <img src="<%= user.photo %>" class="google-img">
        <a href="/logout" id="connect" class=" btn-cool">Logout</a>
    </div>
</div>

<% if (user.googleId === admin) { %>
<div class="blocks-block <%= folderBanff %>">
    <div class="block">
        <h2 class="text-center">Banff</h2>
        <form id="post" enctype="multipart/form-data" action="/banff" method="post">
            <input type="file" name="path" id="path" style="display: none;" multiple/><br>
            <label for="path" class="btn-cool">Choose your image(s)</label>
            <button type="submit" name="submit" class="btn-cool">POST Images</button>
        </form>
        <div class="block-a">
            <a id="get" href="#" class="btn-cool">GET</a>
            <a id="del" href="#" class="btn-cool">DELETE</a>
        </div>
    </div>
</div>
<div class="text-center"><b>Status requête</b><br>
    <div id="status"></div>
</div>

<% include popin.ejs %>
<!--pas oublier de switch admin et francois-->
<% } else if (user.googleId === francois) { %>

<div class="blocks-block <%= folderFrancois %>">
    <div class="block">
        <h2 class="text-center">Francois</h2>
        <form id="post" enctype="multipart/form-data" action="/francois" method="post">
            <input type="file" name="path" id="path" style="display: none;" multiple/><br>
            <label for="path" class="btn-cool">Choose your image(s)</label>
            <button type="submit" name="submit" class="btn-cool">POST Images</button>
        </form>
        <div class="block-a">
            <a id="get" href="#" class="btn-cool">GET</a>
            <a id="del" href="#" class="btn-cool">DELETE</a>
        </div>
    </div>
</div>
<div class="text-center"><b>Status requête</b><br>
    <div id="status"></div>
</div>

<% include popin.ejs %>

<% } else { %>
<div class="text-center">Bonjour, <%= user.firstname %><br> vous n'êtes pas connecté en tant qu'Administrateur</div>
<% } %>
</body>

<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.form.min.js"></script>
<script src="/resources/js/data-json.js"></script>

</html>
