<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Images | Ichoui®</title>
    <link rel="icon" type="image/ico" href="/resources/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/resources/css/app.css">

</head>

<body>

<div class="nav navbar">
    <img src="/resources/img/Logo_black.jpg" class="logo" alt="Logo Ichoui">
    <h1 class="title">API Images</h1>
    <div class="nav-right">
        <img src="<%= user.photo %>" class="google-img" title="<%= user.firstname %>">
        <a href="/logout" id="connect" class=" btn-cool">Logout</a>
    </div>
</div>
<%
var admin = process.env.GOOGLE_ID_ADMIN;
var francois = process.env.GOOGLE_ID_FRANCOIS;
var zaetan = process.env.GOOGLE_ID_ZAETAN;
var tartidou = process.env.GOOGLE_ID_TARTIDOU;
var tester = process.env.GOOGLE_ID_TESTER;
%>
<%
if (user.googleId === admin) { %>
<div class="blocks-slider">
    <div class="blocks-block <%= folderBanff %>" data-placement="<%= folderBanff %>">
        <div class="block">
            <h2 class="text-center"><%= folderBanff %></h2>
            <form class="post" enctype="multipart/form-data" action="/<%= folderBanff %>" method="post">
                <input type="file" name="path" id="path" style="display: none;" multiple/><br>
                <label for="path" class="btn-cool">Choose your image(s)</label>
                <button type="submit" class="btn-cool">POST</button>
            </form>
            <div class="block-a">
                <a href="#" class="btn-cool get">GET</a>
                <a href="#" class="btn-cool del">DELETE</a>
            </div>
        </div>
    </div>
    <div class="blocks-block <%= folderMaple %>" data-placement="<%= folderMaple %>">
        <div class="block">
            <h2 class="text-center"><%= folderMaple %></h2>
            <form class="post" enctype="multipart/form-data" action="/<%= folderMaple %>" method="post">
                <input type="file" name="path" id="path2" style="display: none;" multiple/><br>
                <label for="path2" class="btn-cool">Choose your image(s)</label>
                <button type="submit" class="btn-cool">POST</button>
            </form>
            <div class="block-a">
                <a href="#" class="btn-cool get">GET</a>
                <a href="#" class="btn-cool del">DELETE</a>
            </div>
        </div>
    </div>
    <div class="blocks-block <%= folderJump %>" data-placement="<%= folderJump %>">
        <div class="block">
            <h2 class="text-center"><%= folderJump %></h2>
            <form class="post" enctype="multipart/form-data" action="/<%= folderJump %>" method="post">
                <input type="file" name="path" id="path3" style="display: none;" multiple/><br>
                <label for="path3" class="btn-cool">Choose your image(s)</label>
                <button type="submit" class="btn-cool">POST</button>
            </form>
            <div class="block-a">
                <a href="#" class="btn-cool get">GET</a>
                <a href="#" class="btn-cool del">DELETE</a>
            </div>
        </div>
    </div>
</div>


<% include popin.ejs %>
<% include popin-shared.ejs %>
<% } else if (user.googleId === francois) { %>

<div class="blocks-block <%= folderFrancois %>">
    <div class="block">
        <h2 class="text-center"><%= folderFrancois %></h2>
        <form class="post" enctype="multipart/form-data" action="/<%= folderFrancois %>" method="post">
            <input type="file" name="path" id="path" style="display: none;" multiple/><br>
            <label for="path" class="btn-cool">Choose your image(s)</label>
            <button type="submit" class="btn-cool">POST</button>
        </form>
        <div class="block-a">
            <a href="#" class="btn-cool get">GET</a>
            <a href="#" class="btn-cool del">DELETE</a>
        </div>
    </div>
    <% include popin.ejs %>
</div>
<% include popin-shared.ejs %>

<% } else if ((user.googleId === admin) || (user.googleId === zaetan) || (user.googleId === tartidou)) { %>
    <div class="blocks-slider">
        <div class="blocks-block <%= folderJump %>" data-placement="<%= folderJump %>">
            <div class="block">
                <h2 class="text-center"><%= folderJump %></h2>
                <form class="post" enctype="multipart/form-data" action="/<%= folderJump %>" method="post">
                    <input type="file" name="path" id="path" style="display: none;" multiple/><br>
                    <label for="path" class="btn-cool">Choose your image(s)</label>
                    <button type="submit" class="btn-cool">POST</button>
                </form>
                <div class="block-a">
                    <a href="#" class="btn-cool get">GET</a>
                    <a href="#" class="btn-cool del">DELETE</a>
                </div>
            </div>
        </div>
    </div>

    <% include popin.ejs %>
    <% include popin-shared.ejs %>

 <% } else { %>
<div class="text-center">Bonjour, <%= user.firstname %><br> vous n'êtes pas connecté en tant qu'Administrateur</div>
<% } %>


<div class="text-center"><b>Status requête</b><br>
    <div id="status"></div>
</div>
<div class="credits">
    <p>Credits to <a href="https://gitlab.com/Ichoui" class="anim-fulfill" target="_blank">Ichoui®</a></p>
    <p><a href="https://album.ichoui.fr" class="anim-fulfill" target="_blank">https://album.ichoui.fr</a></p>
</div>
</body>

<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.form.min.js"></script>
<script src="/resources/js/slick.min.js"></script>
<script src="/resources/js/data-json.js"></script>
<script src="/resources/js/backgrounds.js"></script>

</html>
