@font-face {
  font-family: 'HelveticaNeueARMIN';
  src: url('/resources/fonts/HelveticaNeueARMIN.eot');
  src: url('/resources/fonts/HelveticaNeueARMIN.eot?#iefix') format('embedded-opentype'),
  url('/resources/fonts/HelveticaNeueARMIN.woff2') format('woff2'),
  url('/resources/fonts/HelveticaNeueARMIN.woff') format('woff'),
  url('/resources/fonts/HelveticaNeueARMIN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

