@font-face {
  font-family: 'Helvetica-Black';
  src: url('/resources/fonts/Helvetica-Black.eot');
  src: url('/resources/fonts/Helvetica-Black.eot?#iefix') format('embedded-opentype'),
  url('/resources/fonts/Helvetica-Black.woff2') format('woff2'),
  url('/resources/fonts/Helvetica-Black.woff') format('woff'),
  url('/resources/fonts/Helvetica-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
